.banner{
    background-image: url(../assets/background-png.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 800px;
    border-bottom: 10px solid black;
    background-position: right;
  
}
    
.banner .wrapper {
    display: flex;
    flex-direction: column ;
    width: 640px;
}

.banner .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   