
.button{
    display: inline-block; /* não pode mudar largura e altura se estiver display inline apenas */
    background-color: #F25A70;
    height:60px; /* altura */
    line-height: 60px; /* centralizar a linha (mesmo px do height) funciona apenas com 1 linha */
    padding-left: 20px;  /* adicionar largura no lado esquerdo */
    padding-right: 20px;  /* adicionar largura no lado direito */
    box-shadow: 5px 5px 0 black; /* adicionar sombra a caixa   eixos: x, y blur(fumaça), cor  */
    margin-right: 0px;
    transition: transform 200ms linear;
}

.button:hover{
    transform:scale(1.08);
}