.header-top{
    display: flex; /* para ocupar linha todda */
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center; /* centralizar */
    color: #FFF;
    font-size: 20px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-weight: 500; /* bold = 500 */
    text-decoration: none;
    margin-right: 30px;

}
 /* pseudo elemento */
a::before { 
    content: "" ; /* obrigatorio usar content pois estára criando um counteudo no css */
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;  
}




a:hover{
    transform: scale(1.20);
    
}

img:hover{
    transform: scale(1.40);
}





